@import "reset.css";
@import "variables.css";

body {
  background-color: rgb(141, 133, 253);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.main {
  width: fit-content;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

.btn {
  height: 40px;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--secondary-color);
}

.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.card__content {
  font-size: 26px;
}

.card.hidden > .card__content {
  display: none;
}

.card.opened {
  background-color: rgba(103, 239, 121, 0.562);
}
